<div class="alert alert-light" role="alert">
  <div class="container-fluid">
    <div class="row align-items-center flex-wrap">

      <div class="col-12 col-md-3 text-center text-md-start mb-3 mb-md-0">
        <a class="navbar-brand" href="/index.html">
          <img src="images/Logo/RMALogo.png" alt="RMA Solutions, LLC" class="img-fluid" width="250" id="indexlogo">
        </a>
      </div>

      <div class="col-12 col-md-6 d-flex flex-wrap justify-content-center gap-3 mb-3 mb-md-0">
        <p class="phoneNumber m-2"><strong>Office:</strong> <i class="fas fa-phone-alt"></i> <a href="tel:2814164030" class="text-dark">(281) 416-4030</a></p>
        <p class="phoneNumber m-2"><strong>Mobile:</strong> <i class="fas fa-phone-alt"></i> <a href="tel:2816194431" class="text-dark">(281) 619-4431</a></p>
        <p class="phoneFax m-2"><strong>Fax:</strong> <i class="fas fa-fax"></i> (713) 564-8808</p>
        <p class="email m-2"><strong>Email:</strong> <i class="fas fa-envelope-open-text"></i> <a href="mailto:Solutions.insurance209@gmail.com" class="text-dark">Solutions.insurance209@gmail.com</a></p>
      </div>
      <div class="col-12 col-md-3 text-center text-md-end">
        <h5 class="mb-2">Se Habla Español</h5>
        <button type="button" class="btn btn-info contactUs" id='contactUs' data-toggle="modal" data-target=".bd-example-modal-lg">
          Contact Us!
        </button>
      </div>
      </div>
  </div>
</div>

<nav class="navbar navbar-expand-lg navbar-light bg-light" id='navBar'>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNavDropdown">
        <ul class="navbar-nav">
            <li class="nav-item active">
                <a class="nav-link" href="index.html">HOME<span class="sr-only">(current)</span></a>
            </li>
            <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownPersonal" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">PERSONAL INSURANCE</a>
                <div class="dropdown-menu" aria-labelledby="navbarDropdownPersonal">
                    <a class="dropdown-item" href="AutoInsurance.html">AUTO INSURANCE</a>
                    <a class="dropdown-item" href="HomeInsurance.html">HOME INSURANCE</a>
                    <a class="dropdown-item" href="Renters.html">RENTERS INSURANCE</a>
                    <a class="dropdown-item" href="Condo.html">CONDO INSURANCE</a>
                    <a class="dropdown-item" href="LifeInsurance.html">LIFE INSURANCE</a>
                </div>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="CommercialInsurance.html">COMMERCIAL INSURANCE</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="CompaniesWeRepresent.html">COMPANIES WE REPRESENT</a>
            </li>
           <li class="nav-item dropdown">
    <a class="nav-link" href="AboutUs.html">ABOUT US</a> <a class="nav-link dropdown-toggle d-none d-lg-inline-block" href="#" id="navbarDropdownAbout" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" aria-label="Toggle About Us dropdown">
        <span class="sr-only">Toggle About Us dropdown</span>
    </a>
    <div class="dropdown-menu" aria-labelledby="navbarDropdownAbout">
        <a class="dropdown-item" href="AboutUs.html"><a class="dropdown-item" href="OurLocation.html">OUR LOCATION</a>
        <a class="dropdown-item" href="OurStaff.html">OUR STAFF</a>
    </div>
</li>
        </ul>
    </div>
</nav>